<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application

        android:name="com.sgdigitalposter.app.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.FestivalApp"
        tools:replace="android:theme, android:allowBackup">

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_UBTNSKFSEi3qL0"/>

        <activity
            android:name="com.sgdigitalposter.app.ui.activities.SelectCategoryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.FestivalApp" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.ProductDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.ProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.ReferralActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.EraserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.CreateVCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.editor.PosterActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.VCardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <activity
            android:name="com.sgdigitalposter.app.ui.activities.AboutUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.CustomCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.PrivacyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.NewsDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.ForgotPassActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.ProfileEditActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.BusinessCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.ContactUsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.SubsPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.EditorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.AddBusinessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.DetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.CategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.FestivalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.SplashyActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sgdigitalposter.app.ui.activities.MainActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UCrop" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:screenOrientation="portrait"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.stripe.android.payments.StripeBrowserLauncherActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.sgdigitalposter.app.binding.CachingGlideModule"
            android:value="AppGlideModule" />
        <meta-data
            android:name="com.onesignal.NotificationServiceExtension"
            android:value="com.sgdigitalposter.app.utils.NotificationServiceExtension" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>


        <!-- Keep it true in UAT environment for both the flags-->
        <meta-data
            android:name="com.phonepe.android.sdk.isUAT"
            android:value="true"/>
        <meta-data
            android:name="com.phonepe.android.sdk.isSimulator"
            android:value="true"/>

        <!-- The value will be the MID-->
        <meta-data
            android:name="com.phonepe.android.sdk.MerchantId"
            android:value="PGTESTPAYUAT"/>
        <!-- LIVE M1FUHI0EZC85-->
        <!--TEST PGTESTPAYUAT -->

        <!-- For UAT, App Id is not required.
        Make sure to add the following and you get the APP Id for Production after UAT Sign-off -->
               <!-- <meta-data
                    android:name="com.phonepe.android.sdk.AppId"
                    android:value="<your app id given by PhonePe>"/>-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>